@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefffe;
  --foreground: #0f0f0f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

.glassMorphism {
  background: rgba(255, 255, 255, 0.815);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

html {
  scroll-behavior: smooth;
}